<meta charset="utf-8"><link rel="stylesheet" href="doc.css"/>
<p><em>Collatinus 12 &mdash; guide</em></p>

<p>Précédent : <a href="index.html">index</a> suivant : <a href="debuter.html">Pour débuter</a></p>

<h1>Fenêtres, éditeurs et boutons </h1>

<p>Voici une vue générale de l'interface de Collatinus :</p>

<p><img src="anatomie.png" title="L'interface de Collatinus" alt="Interface de Collatinus" /></p>

<p>Les onglets de la partie inférieure peuvent être
déplacés et redimensionnés :</p>

<p><img src="detach.png" title="La partie lemmatisation a été détachée" alt="Lemmatisation détachée" /></p>

<p>Une description complète de l'utilisation des dictionnaires est donnée
au chapitre <a href="dictionnaires.html">dictionnaires</a>.</p>

<p>Précédent : <a href="index.html">index</a> suivant : <a href="debuter.html">Pour débuter</a></p>
