<meta charset="utf-8"><link rel="stylesheet" href="doc.css"/>
<p><em>Collatinus 12 &mdash; guide</em></p>

<p><a href="index.html">index</a> précédent : <a href="lemmatiser.html">Lemmatiser</a> suivant : <a href="dictionnaires.html">Dictionnaires</a></p>

<h1>Coloriser un texte</h1>

<p>Pour identifier les mots d'un texte que les élèves
sont sensés connaître, on peut charger en mémoire
une liste de mots connus
(menu Fichier / Lire une liste de mots connus).
Lorsque l'on lemmatise le texte latin
(contenu dans la fenêtre du haut),
ce dernier sera modifié et
les mots seront affichés avec des couleurs différentes.
Par défaut, les mots connus des élèves seront en vert.
Ceux reconnus par Collatinus seront en noir et
ceux que Collatinus ne connaît pas seront en rouge.
Ces couleurs peuvent être modifiées dans le fichier
qui contient la liste de mots connus.</p>

<p>Nous fournissons un
<a href="Exemple_liste.txt.zip">exemple de liste de mots connus</a>
(due à Jan Bart).
Cette liste pourra être adaptée au niveau des élèves.
Il s'agit essentiellement d'un fichier texte contenant
un mot par ligne.
Les mots donnés n'ont pas besoin d'être la forme canonique,
car ils seront lemmatisés. En cas d'homonymie,
tous les homonymes sont supposés connus.</p>

<p>Attention, une forme est supposée connue si son lemme l'est.
Ce n'est pas nécessairement vrai au cours de l'apprentissage :
un élève pourrait ne pas encore avoir appris à construire
le subjonctif imparfait d'un verbe.
L'enseignant devra donc être attentif !</p>

<p><a href="index.html">index</a> précédent : <a href="lemmatiser.html">Lemmatiser</a> suivant : <a href="dictionnaires.html">Dictionnaires</a></p>
