<meta charset="utf-8"><link rel="stylesheet" href="doc.css"/>
<p><em>Collatinus 12 &mdash; guide</em></p>

<p><a href="index.html">index</a> précédent : <a href="anatomie.html">Fenêtres, éditeurs et boutons</a> suivant : <a href="lemmatiser.html">lemmatiser et analyser</a></p>

<h1>Pour débuter</h1>

<ol>
<li><strong>Lancer Collatinus</strong> &mdash; En cliquant sur une icone,
par le menu principal&hellip;</li>
<li><strong>Charger un texte latin</strong> Trois méthodes :
 a. Soit en choisissant, dans le menu <em>Fichier</em>
  l'option <em>Ouvrir</em>, et en sélectionnant un fichier;
 b. Soit avec le raccourci <strong>Ctrl+O</strong> (pour Mac,
on remplacera <strong>Ctrl</strong> par <strong>Cmd</strong>),
  qui ouvre le même dialogue ;
 c. soit en collant dans la partie supérieure de
  l'application le contenu du presse papier rempli
  avec la partie sélectionnée d'un texte latin. La
  manière de faire un copier-coller dépend du
  système (Linux, Macintosh, Windows, etc.) ;</li>
<li>Faire apparaître, dans la partie inférieure de
l'application, l'onglet qui correspond à
l'utilisation recherchée : lemmatisation,
dictionnaire, scansion, flexion.</li>
<li>Cliquer sur un mot du texte : dans le(s) onglet(s)
visibles, le résultat apparaît.</li>
<li><strong>Pour effacer le résultat</strong>, on clique sur l'icone
représentant un balai (image).</li>
<li><strong>Pour lemmatiser ou scander la totalité du texte</strong>, on
clique sur l'icone (image) représentant des
engrenages.
Le raccourci <strong>Ctrl+L</strong> conduit au même résultat.</li>
<li><strong>Pour éditer les résultats dans un traitement de
textes</strong>, on choisit l'option Fichier / Copier dans
un traitement de textes ;
on peut également utiliser le copier-coller habituel
pour récupérer le contenu d'une fenêtre
(sous Windows ou Mac, <strong>Ctrl-A</strong>, pour tout sélectionner
puis <strong>Ctrl-C</strong> &hellip; <strong>Ctrl-V</strong>).</li>
<li><strong>Pour enregistrer les résultats au format pdf</strong>, on
choisit l'option Fichier / exporter en pdf ;</li>
<li><strong>Pour imprimer</strong> les résultats, on choisit l'option
Fichier / Imprimer, ou on clique sur l'icone (ici,
l'icone imprimante) ;</li>
</ol>


<p><a href="index.html">index</a> précédent : <a href="anatomie.html">Fenêtres, éditeurs et boutons</a> suivant : <a href="lemmatiser.html">lemmatiser et analyser</a></p>
