<meta charset="utf-8"><link rel="stylesheet" href="doc.css"/>
<p><em>Collatinus 12 &mdash; guide</em></p>

<p><a href="index.html">index</a> précédent : <a href="modules.html">Modules</a> suivant : <a href="scander.html">Scander</a></p>

<h1>Dictionnaires</h1>

<p>Cette copie annotée de Collatinus montre comment piloter les dictionnaires :</p>

<p><img src="capturedic.png" title="Les deux dictionnaires" alt="Dictionnaire supplémentaire" /></p>

<p>Et voici un résumé des commandes :</p>

<ol>
<li>Choix du dictionnaire dans un menu déroulant ;</li>
<li>Sélection du mot à chercher soit en cliquant dans le texte latin,
 soit en saisissant le mot dans la ligne de saisie à gauche
 (dans ce dernier cas, on peut chercher la forme exacte,
 sans lemmatisation, en cliquant sur l'icone représentant
 une page unique) ;</li>
<li>Feuilleter le dictionnaire (page précédente, page suivante,
pour les dictionnaires en mode image ;
articles précédent et suivant pour les dictionnaires numériques) ;</li>
<li>Ajouter une fenêtre de dictionnaire (le même, ou un différent).
 Le même bouton permet de fermer le dictionnaire supplémentaire ;</li>
<li>Demander l'affichage du même mot dans les deux dictionnaires,
systématiquement (en activant le bouton <strong>sync+</strong>) ou
ponctuellement (en appuyant sur un des boutons <strong>sync-></strong>
ou <strong>&lt;-sync</strong>, selon la fenêtre active).</li>
</ol>


<p><a href="index.html">index</a> précédent : <a href="lemmatiser.html">Lemmatiser et analyser</a> suivant : <a href="scander.html">Scander</a></p>
