<meta charset="utf-8"><link rel="stylesheet" href="doc.css"/>
<p><em>Collatinus 12 &mdash; guide</em></p>

<p><a href="index.html">index</a> précédent : <a href="scander.html">Scander</a> suivant : <a href="tagger.html">Tagger</a></p>

<h1>Fléchir</h1>

<p>Si l'onglet <em>Flexion</em> est visible, un clic sur une forme
permet d'afficher les tableaux de flexion des lemmes
qui peuvent donner cette forme. On peut aussi saisir
une forme dans la ligne de saisie de l'onglet. Pour les
lemmes à flexion riche, comme les verbes et les adjectifs,
des liens permettent de montrer immédiatement la partie
recherchée de la flexion. D'autres liens permettent de
changer de lemme.</p>

<p><a href="index.html">index</a> précédent : <a href="scander.html">Scander</a> suivant : <a href="tagger.html">Tagger</a></p>
