<meta charset="utf-8"><link rel="stylesheet" href="doc.css"/>
<p><em>Collatinus 12 &mdash; guide</em></p>

<p><a href="index.html">index</a> précédent : <a href="debuter.html">Pour débuter</a> suivant : <a href="modules.html">Modules</a></p>

<h1>Lemmatiser et analyser</h1>

<p>Beaucoup plus qu'un mot français, un mot latin peut
prendre de nombreuses apparences. Chacune de ces
apparences est appelée <em>forme</em>.</p>

<p>Pour apprendre le latin, il faut donc savoir, quand on
a lu une forme, la <em>lemmatiser</em>, c'est à dire savoir
quel mot a pu donner cette forme, et souvent même,
quels mots ont pu la donner.</p>

<p>Lemmatiser ne suffit pas. Il faut aussi savoir <em>analyser</em>
une forme, c'est à dire la raison pour laquelle on a
employé cette forme du mot (qu'on appelle alors
<em>lemme</em>) plutôt qu'une autre. Attention, il s'agit là
de l'analyse <em>morphologique</em>, qui ne suffit pas pour
lire le latin. Il faut aussi connaître la <em>syntaxe</em> de
la langue.</p>

<p>Collatinus essaie donc de lemmatiser les mots d'un
texte, et aussi de donner leur analyse morphologique.
En cliquant sur un mot du texte (fenêtre supérieure),
on obtient sa lemmatisation dans la fenêtre du bas.
Pour lemmatiser l'ensemble du texte, on peut cliquer
sur l'icone représentant des engrenages, ou sur celle
portant un &alpha; (pour forcer l'ordre alphabétique,
sans tenir compte de l'option sélectionnée, cf. ci-dessous).
Le raccourci <strong>Ctrl-L</strong> conduit au même résultat que
les engrenages.
La lemmatisation d'un texte permet aussi de le
<a href="coloriser.html">coloriser</a>.</p>

<p>L'onglet de lemmatisation de l'application fournit de
nombreuses options, données par cette image. Une option
activée est en bleu. Un clic sur le bouton active ou
désactive l'option.</p>

<p><img src="optionslem.png" title="Options de lemmatisation" alt="Options de lemmatisation" /></p>

<p>De gauche à droite :</p>

<ol>
<li><strong>Une ligne de saisie</strong>, qui permet de lemmatiser tout ce qu'elle
contient sans modifier le texte latin chargé dans la partie supérieure.
On y place du texte, et on appuie sur la touche <strong>Entrée</strong>.</li>
<li><strong>Calepino</strong> : Si l'option est activée, les lemmes sont traduits dans
toutes les langues cibles disponibles.</li>
<li><strong>Morpho</strong> : permet d'afficher toutes les analyses
morphologiques possibles de la forme.</li>
<li><strong>ordre alpha</strong> : range les lemmes par ordre alphabétique si elle est
activée, sinon dans l'ordre d'apparition dans le texte.</li>
<li><strong>avec formes</strong> : chaque lemmatisation est précédée de la forme telle
qu'elle apparaît dans le texte.</li>
<li><strong>format html</strong> : permet une meilleure présentation visuelle, mais
ralentit l'affichage des textes longs.</li>
<li><strong>majuscules</strong> : essaie de tenir compte des majuscules, et permet de
 faire la distinction entre noms propres et communs ou adjectifs.
 L'ambiguïté demeure lorsque la forme est en début de phrase.</li>
<li><strong>grouper échecs</strong> : Si l'option est activée, tous les mots dont
 la lemmatisation a échoué sont rassemblés à la fin
 des résultats. Sinon, ils sont à leur place dans le
 texte (ou dans l'ordre alphabétique), avec une mention d'échec.</li>
</ol>


<p><a href="index.html">index</a> précédent : <a href="debuter.html">Pour débuter</a> suivant : <a href="dictionnaires.html">Dictionnaires</a></p>
